<!DOCTYPE html>
<html>
<head>
  <title>MissionApartment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta property="og:image" content="<%= image_url('cover7.jpg') %>" />
  <%= csrf_meta_tags %>
</head>
<body class="landing">
<%= render "layouts/navbar" %>
<%= yield %>
<%= render "layouts/footer" %>
</body>
</html>
